body{

margin:0;
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background-image: url("/static/images/background.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

.container{

width:350px;

}

.form-container{

background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);

}

.form-box{

text-align:center;

}

.register{

display:none;

}

h2{

margin-bottom:20px;

}

input,select{

width:100%;
padding:10px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;

}

button{

width:100%;
padding:12px;
border:none;
border-radius:6px;
background:linear-gradient(135deg,#6a11cb,#2575fc);
color:white;
font-weight:bold;
cursor:pointer;

}

button:hover{

opacity:0.9;

}

.switch-btn{

margin-top:10px;
background:none;
color:#2575fc;
border:none;
cursor:pointer;
font-weight:bold;

}
.error-msg {
    background: #ffdddd;
    color: #d32f2f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
}